
body{margin:0;font-size:1.6rem;font-family:Lato,sans-serif;-moz-osx-font-smoothing:grayscale}code{font-family:source-code-pro,Menlo,Monaco,Consolas,Courier New,monospace}.Modal_Container__252G4{position:fixed;top:10vh;bottom:0;right:0;left:0;z-index:200;overflow-y:auto;height:100%;overflow-x:hidden}@media (max-height:550px){.Modal_Container__252G4{top:55px;top:0}}.Modal_Container__252G4::-webkit-scrollbar{width:2px}.Modal_Container__252G4::-webkit-scrollbar-thumb{background:#888;border-radius:2px}.Modal_Container__252G4::-webkit-scrollbar-track{background:#fff}.Modal_Modal__1-5dN{position:absolute;z-index:500;background-color:#fff;width:70%;border:1px solid rgba(0,0,0,.2);border-radius:2px;box-shadow:0 5px 15px rgba(0,0,0,.5);padding:15px 2px;left:15%;top:5%;margin-bottom:5%;box-sizing:border-box;transition:all .3s ease-in-out}.Modal_Modal__1-5dN .Modal_CloseBtn__34fid{cursor:pointer;width:61px;height:35px;display:flex;align-items:center;justify-content:center;position:absolute;top:20px;right:0;background:#fff;border:0;outline:none;font-size:20px;border-radius:10px}.Modal_Content__1iwI6{min-height:80px;font-size:17px;font-weight:500;font-family:Lato,sans-serif}.Modal_Container__252G4.Modal_Hidden__28Stw{transition:all .3s ease-in-out;height:0}.Modal_Container__252G4.Modal_Hidden__28Stw,.Modal_Container__252G4.Modal_Hidden__28Stw .Modal_Modal__1-5dN{-webkit-transform:translateY(-100vh);transform:translateY(-100vh);opacity:0}.Modal_Footer__3LBa2{width:100%;padding:10px 0;display:flex;align-items:center;justify-content:center}@media (min-width:1100px){.Modal_Modal__1-5dN{width:700px;left:calc(50% - 350px);top:5%;border:none}.Modal_Container__252G4{top:0}}@media (max-width:1100px){.Modal_Modal__1-5dN .Modal_CloseBtn__34fid{background:hsla(0,0%,100%,.25098039215686274);cursor:default}.Modal_Modal__1-5dN{position:absolute;z-index:500;background-color:#fff;width:70%;border:none;border-radius:2px;box-shadow:none;box-sizing:border-box;transition:all .3s ease-in-out;left:0!important;bottom:0;margin:0;top:auto;width:100%!important;border-top-left-radius:14px;border-top-right-radius:14px;max-height:100%;padding-bottom:6rem}.Modal_Container__252G4{top:0}.Modal_Container__252G4.Modal_Hidden__28Stw{transition:all .3s ease-in-out;height:0}.Modal_Container__252G4.Modal_Hidden__28Stw,.Modal_Container__252G4.Modal_Hidden__28Stw .Modal_Modal__1-5dN{-webkit-transform:translateY(100vh);transform:translateY(100vh);opacity:0}.Modal_Footer__3LBa2{width:100%;padding:10px 0;display:flex;align-items:center;justify-content:center}}@media (max-width:600px){.Modal_Modal__1-5dN{padding-bottom:unset}}.Backdrop_Backdrop__3j6VK{width:100%;height:100%;position:fixed;z-index:100;left:0;top:0;background-color:rgba(0,0,0,.5)}.FormatModal_FormatModal__19wsQ .FormatModal_Title__1b6qA{width:100%;height:auto;opacity:.87}.FormatModal_FormatModal__19wsQ .FormatModal_Title__1b6qA p{color:#000;font-family:Lato,sans-serif!important;font-size:20px;margin:0;padding:1rem 0 2rem 1.7rem;height:auto;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;width:70%}.FormatModal_FormatModal__19wsQ .FormatModal_Content__ZMTvU{border-top:1px solid #ccc;margin:auto;color:#1b1b1c;font-size:14px;font-family:Lato,sans-serif;max-height:calc(80vh - 2px);overflow:auto}@media(max-width:1100px){.FormatModal_FormatModal__19wsQ .FormatModal_Title__1b6qA p{white-space:nowrap;overflow:hidden;text-overflow:ellipsis;width:25rem;font-size:16px}.FormatModal_FormatModal__19wsQ .FormatModal_Content__ZMTvU{max-height:calc(100vh - 100px);max-height:calc(var(--vh, 1vh)*100 - 100px)}}.Button_Button__3gFiX{background:#009ae0;border:none;padding:1.3rem 2rem;font-weight:700;color:#fff;border-radius:5px;margin-top:2rem;float:right;font-size:14px;cursor:pointer;width:28rem}.Button_Button__3gFiX:disabled{box-shadow:none;color:#777;background:#fff;border:1px solid #777;cursor:not-allowed}.Button,.Button:hover{margin:auto;padding:10px;font-size:16px;font-family:Lato,sans-serif;box-sizing:border-box;background-color:#fafafa;border:2px solid #fafafa;border-radius:4px;box-shadow:1px 1px 4px #afafaf;cursor:pointer;color:#292d37;width:282px}.Button:active{box-shadow:none}.Button:disabled{box-shadow:none;color:#ddd;cursor:not-allowed}.Toaster_Toaster__38u--{height:2.8rem;padding:2px 10px;display:flex;align-items:center;justify-content:space-between;z-index:999999;color:#fff;background-color:#ff9f00;min-width:50vw}.Toaster_Toaster__38u--.Toaster_Focused__1-Pos{opacity:1}.Toaster_Toaster__38u-- button.Toaster_CloseIcon__27C1y{border-radius:50%;background-color:#707070;border:2px solid #ccc;width:30px;height:30px;padding:2px;box-sizing:border-box;cursor:pointer;box-shadow:2px 2px 4px #707070;outline:none}.Toaster_Toaster__38u-- button.Toaster_Close__1Yw_1{background:#ff9f00;outline:none;border:none;cursor:pointer}.Toaster_Toaster__38u-- button.Toaster_Close__1Yw_1:active{box-shadow:none}.Toaster_Toaster__38u-- button.Toaster_Close__1Yw_1:disabled{box-shadow:none;color:#ddd;cursor:not-allowed}@media(max-width:1100px){.Toaster_Toaster__38u--{height:unset}}.Spinner_Loader__1twK-,.Spinner_Loader__1twK-:after,.Spinner_Loader__1twK-:before{border-radius:50%}.Spinner_Loader__1twK-{color:#009ae0;font-size:11px;text-indent:-99999em;margin:0 auto;width:10em;height:10em;position:relative;top:40%;box-shadow:inset 0 0 0 1em;-webkit-transform:translateZ(0);transform:translateZ(0)}.Spinner_Loader__1twK-:after,.Spinner_Loader__1twK-:before{position:absolute;content:""}.Spinner_Loader__1twK-:before{width:5.2em;height:10.2em;background:#fff;border-radius:10.2em 0 0 10.2em;top:-.1em;left:-.1em;-webkit-transform-origin:5.2em 5.1em;transform-origin:5.2em 5.1em;-webkit-animation:Spinner_load2__2gkgc 2s ease 1.5s infinite;animation:Spinner_load2__2gkgc 2s ease 1.5s infinite}.Spinner_Loader__1twK-:after{width:5.2em;height:10.2em;background:#fff;border-radius:0 10.2em 10.2em 0;top:-.1em;left:5.1em;-webkit-transform-origin:0 5.1em;transform-origin:0 5.1em;-webkit-animation:Spinner_load2__2gkgc 2s ease infinite;animation:Spinner_load2__2gkgc 2s ease infinite}.Spinner_Loader__1twK-.Spinner_Grey__21Enu:after,.Spinner_Loader__1twK-.Spinner_Grey__21Enu:before{background:#f7f7f7}@-webkit-keyframes Spinner_load2__2gkgc{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}to{-webkit-transform:rotate(1turn);transform:rotate(1turn)}}@keyframes Spinner_load2__2gkgc{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}to{-webkit-transform:rotate(1turn);transform:rotate(1turn)}}.Header_Header__1xrSh{position:-webkit-sticky;position:sticky;width:100%;height:64px;top:0;left:0;z-index:10;flex-flow:row;align-items:center;justify-content:space-between;padding:0 25px;box-shadow:0 1px 3px rgba(172,173,175,.2),0 2px 2px rgba(172,173,175,.12),0 0 2px rgba(172,173,175,.14)}.Header_DownloadApp__2iv56,.Header_Header__1xrSh{display:flex;box-sizing:border-box;background:#fff}.Header_DownloadApp__2iv56{border:1px solid #009ae0;border-radius:5px;flex-direction:row;align-items:flex-start;padding:8px 24px;color:#009ae0;position:absolute;right:50px;cursor:pointer}.Header_InstructionsAndSideDiv__2PHz3{display:flex;flex-direction:row;justify-content:space-between;align-items:center}.Header_Title__3mXad{color:#000}.Header_HeaderTitle__mOAgj,.Header_Title__3mXad{font-size:16px;line-height:24px;display:flex;align-items:center;letter-spacing:0;position:relative}.Header_HeaderTitle__mOAgj{color:#fff}.Header_Clock__g5Fey{display:none}.Header_Time__3U7hq{padding-right:1rem}.Header_TimeDetails__24XAt{background:rgba(0,154,224,.1);padding:.3rem;border-radius:4px;margin:0 .5rem}.Header_Header__1xrSh p{font-size:16px;line-height:24px}.Header_warningContainer__14i3z{display:flex;flex-direction:column;align-items:center;margin-bottom:5%}.Header_warningText__2u4ce{width:75%;text-align:center}.Header_showMenuButton__-doVo{background:#009ae0;display:block;outline:none;border:none}.Header_showMobile__3xmfN{display:none}.Header_SolutionFilter__3GIqV{cursor:pointer;position:absolute;top:60px;right:0;background:#fff;box-shadow:0 4px 8px rgba(0,0,0,.24);border-radius:2px;width:177px;display:flex;align-items:center;flex-direction:column;margin:0}.Header_SolutionFilter__3GIqV p{margin:0;width:100%;display:flex;justify-content:flex-start;box-sizing:border-box}.Header_SolutionFilterOuter__2JjAi{display:flex;background:none;border:none;align-items:center;margin:0 24px;outline:none;-webkit-user-select:none;user-select:none;cursor:pointer;position:relative}.Header_SolutionFilterOption__3IiuV{padding:8px 0}.Header_SolutionFilterShowAll__3k1_b{padding:8px}.Header_SolutionFilterOption__3IiuV:focus,.Header_SolutionFilterOption__3IiuV:hover,.Header_SolutionFilterShowAll__3k1_b:hover{background:#e5e5e5}.Header_SolutionFilterText__1rT8G{font-size:16px;line-height:24px;align-items:center;letter-spacing:1.15px;color:#000}.Header_FilterButton__3esAv{background:#009ae0;border:none;outline:none;z-index:3;margin-right:10px}@media (max-width:1100px){.Header_Header__1xrSh{background:#009ae0;font-size:1.2rem;color:#fff}.Header_showDesktop__2pBC1{display:none}.Header_showMobile__3xmfN{display:flex}.Header_Title__3mXad{color:#fff}.Header_HeaderTitle__mOAgj>p,.Header_Title__3mXad>p{white-space:nowrap;overflow:hidden;text-overflow:ellipsis;width:20rem}.Header_InstructionsAndSideDiv__2PHz3 img{cursor:default!important}}.Header_imageWarning__25urT{display:block;margin:0 auto;padding:4%}.TestInstruction_TestInstruction__1ckXi{width:100%;padding-bottom:1rem}.TestInstruction_TestInstruction__1ckXi img{margin-right:5px}.TestInstruction_Subheader__2JhN6{display:flex;padding:24px 2rem 1rem;border-bottom:1px solid #ccc;font-size:16px;line-height:28px;font-weight:bolder;color:#000;z-index:1;justify-content:flex-start;align-items:flex-start}.TestInstruction_Subheader__2JhN6 p{opacity:.6;letter-spacing:1px}.TestInstruction_Subheader__2JhN6>div{display:flex;-o-flex-flow:row;flex-flow:row;align-items:center;justify-content:space-around;padding-right:2rem}.TestInstruction_Subheader__2JhN6 div>p{margin:0;text-align:center}.TestInstruction_DetailHeading__iUuLd{font-size:20px;line-height:24px;letter-spacing:0;color:#000;opacity:.87;padding:0 2rem}.TestInstruction_DetailContent__3hAHK{padding:1rem 3rem;font-size:17px;line-height:21px;color:#000;opacity:.87;border-bottom:1px solid #ccc;white-space:pre-wrap;word-break:break-word}.TestInstruction_SectionContent__NCPt5{color:#4a4a4a;opacity:.87;font-size:1.3rem;font-weight:700;letter-spacing:0}.TestInstruction_Declaration__1zrsD{padding:2rem;font-size:16px;line-height:24px;letter-spacing:0;color:#000}.TestInstruction_Declaration__1zrsD input{margin:0 1rem}.TestInstruction_Declaration__1zrsD input [type=checkbox]:checked+:before{box-shadow:0 0 0 .5px #fff,inset 0 0 0 .14em #fff;border:1px solid #009ae0;background-color:#009ae0}.TestInstruction_Circle__NdADK{width:40px;height:40px;border-radius:20px;display:flex;flex-flow:column;align-items:center;justify-content:center;color:#fff;margin:0 2rem 0 0;font-weight:700}.TestInstruction_TestInstructionModal__2GwUQ{display:flex;flex-direction:row;margin:1.3rem 0}.TestInstruction_SectionOptions__4qunn{padding:1rem 0;display:flex;flex-direction:row}.TestInstruction_OptionList__1k7ET{display:flex;flex-direction:row;align-items:center}@media (max-width:1100px){.TestInstruction_Subheader__2JhN6{font-size:12px;justify-content:center;align-items:center;font-weight:bolder}}@media (max-width:650px){.TestInstruction_Subheader__2JhN6 div{flex-flow:column;align-items:center;justify-content:center}.TestInstruction_TestInstructionModal__2GwUQ{margin:.8rem 0}}@media (max-width:500px){.TestInstruction_SectionOptions__4qunn{padding:1rem 0;display:flex;flex-direction:column}.TestInstruction_OptionList__1k7ET{padding:4px 0}}.Toasters_Toasters__14kRO{position:absolute;left:0;max-height:90vh;max-height:calc(var(--vh, 1vh)*90);overflow-y:none;outline:none;display:flex;flex-flow:column;justify-content:flex-start;box-sizing:border-box;width:100%;padding-bottom:0;z-index:2}.Sidebar_Sidebar__1JgHS{position:absolute;left:0;top:0;height:100%;width:400px;-webkit-transform:translate(-400px);transform:translate(-400px);transition:all .3s ease;z-index:1;height:100vh;height:calc(var(--vh, 1vh)*100);background:#f7f8fa}.Sidebar_Sidebar__1JgHS.Sidebar_Show__3S_91{-webkit-transform:translate(0);transform:translate(0)}.Sidebar_Sidebar__1JgHS .Sidebar_Close__30Eze{border:none;-webkit-user-select:none;user-select:none;outline:none;background:transparent;cursor:pointer;position:absolute;top:0;right:0;padding:8px}.Sidebar_Close__30Eze img{width:35px;height:35px}.Profile_Profile__3HF8E{display:flex;flex-direction:row;padding:8px;margin:8px;background:#fff;box-shadow:0 0 2px rgba(172,173,175,.14),0 2px 2px rgba(172,173,175,.12),0 1px 3px rgba(172,173,175,.2);border-radius:2px}.Profile_ProfileInitials__3lnBD{height:40px;width:40px;border-radius:50%;background:#ff4058;color:#fff;font-size:16px;display:flex;justify-content:center;align-items:center;font-weight:700}.Profile_profileImage__136Mz{height:4em;width:4em;align-items:center;border-radius:50%}.Profile_profileName__1Q4bY{margin-left:2%;display:flex;align-items:center}.Overview_Overview__31Ph8{background:#fff;margin:8px;display:flex;flex-wrap:wrap;box-shadow:0 0 2px rgba(172,173,175,.14),0 2px 2px rgba(172,173,175,.12),0 1px 3px rgba(172,173,175,.2);border-radius:2px;color:#000}.Overview_Overview__31Ph8>div:last-child{margin:0}.Overview_OverviewItems__2hcs_{flex-basis:50%;margin:0}.Overview_MarksTextSolutions__39dum,.Overview_OverviewItems__2hcs_{display:flex;align-items:center;align-content:center;justify-content:flex-start;font-size:1.4rem;padding-bottom:16px}.Overview_MarksTextSolutions__39dum,.Overview_TotalQuestions__Mx0eY{flex-basis:100%}.Overview_OverviewLastItem__2O7zS{flex-basis:100%;font-size:1.4rem;display:flex;align-items:center;align-content:center;justify-content:flex-start;margin-top:2%;margin-bottom:2%}.Overview_Parent__15GwH{display:flex;flex-direction:row;padding-bottom:1rem}.Overview_Subheader__7EJ7P{display:flex;justify-content:center;flex-direction:row;letter-spacing:1px;font-weight:bolder}.Overview_Subheader__7EJ7P>p{opacity:.6;padding-left:.5rem}.Overview_TotalQuestionText__3hdYD{padding-top:1rem;padding-left:8px}.Overview_SectionInstructionModal__3iE42 img{padding:0 .5rem 0 1rem}@media(max-width:1100px){.Overview_Parent__15GwH{justify-content:center;font-size:12px}.Overview_Subheader__7EJ7P{flex-direction:column;padding-right:4px}.Overview_OverviewItems__2hcs_,.Overview_OverviewLastItem__2O7zS{font-size:1.2rem}.Overview_OverviewItems__2hcs_ span{cursor:default!important}.Overview_TotalQuestionText__3hdYD{padding-top:1rem}.Overview_imageSectionInstruction__GnNqa{padding-top:1.7rem}}.Overview_imageSectionInstruction__GnNqa{padding-top:1.7rem}.Overview_nameText__1Ztei{padding:.5em;font-size:1.2rem;overflow-wrap:break-word}.Overview_ChoiceContainer__2oml2{display:flex;background-color:#fafafa;border-radius:2px;width:100%;align-self:center}.Overview_ChoiceContainer__2oml2 span{padding:1.6rem;font-size:12px;line-height:16px}.Overview_rightHand__1H_cp{margin-left:1.6rem}.Hexagon_Hexagon__3N6s0{height:3.5rem;width:3.5rem;font-weight:700;color:#fff;display:flex;align-items:center;justify-content:center;line-height:0;position:relative}.Hexagon_HexagonA__aAK_J{background-image:url("/public/static/media/answered.dc0ff0ae.svg");background-repeat:no-repeat;background-size:100%}.Hexagon_HexagonNA__1dJQK{background-image:url(/public/static/media/notanswerd.2ba7912b.svg);background-repeat:no-repeat;background-size:100%}.Hexagon_redDot__1bNCm{position:absolute;color:#745195;background:#745195;height:.9rem;width:.9rem;bottom:0;right:0;border-radius:50%}.Hexagon_asterisk__1MjI3{position:absolute;top:-5px;left:-5px}.Circle_Circle__36nKz{width:3.5rem;position:relative;height:3.5rem;border-radius:50%;background:#745195;display:flex;color:#fff;align-items:center;justify-content:center}.Circle_redDot__1sMJU{position:absolute;color:#52b062;background:#52b062;height:.9rem;width:.9rem;bottom:0;right:0;border-radius:50%}.Circle_isReevaluated__RAAaZ{background:rgba(82,176,96,.08);border:2px solid #52b060;color:#000;opacity:.6;font-weight:700}.Square_Square__1aWHd{width:3.5rem;height:3.5rem;background:#fff;display:flex;align-items:center;justify-content:center;border:1px solid grey;color:#000;font-size:14px;font-weight:700;border-radius:1px;position:relative;opacity:.87}.Square_partially__2zT-y{background:#ff8f0d;color:#fff;border:1px solid #ff8f0d;border-radius:1px}.Square_redDot__-JLgQ{position:absolute;color:#745195;background:#745195;height:.9rem;width:.9rem;bottom:0;right:0;border-radius:50%}.Square_asterisk__3PDNj{position:absolute;top:-5px;left:-5px}.QuestionNavigation_QuestionNavigation__vXnJu{background:#fff;margin:8px;padding-bottom:2%;box-shadow:0 0 2px rgba(172,173,175,.14),0 2px 2px rgba(172,173,175,.12),0 1px 3px rgba(172,173,175,.2);border-radius:2px;overflow-x:hidden}.QuestionNavigation_Header__1bpcw{white-space:nowrap;text-overflow:ellipsis;overflow:hidden;box-sizing:border-box;width:100%;padding:4%;text-align:center;margin-top:2%;border-bottom:1px solid #e9e9e9}.QuestionNavigation_Content__3XJ7g{display:grid;grid-template-columns:1fr 1fr 1fr 1fr 1fr;grid-row-gap:2rem;align-items:center;justify-items:center;overflow:auto;max-height:calc(100vh - 550px);max-height:calc(var(--vh, 1vh)*100 - 550px);justify-content:space-evenly;margin:1rem 0;font-size:1.4rem;padding:16px}@media(max-width:1100px){.QuestionNavigation_Content__3XJ7g{display:grid;grid-template-columns:1fr 1fr 1fr 1fr 1fr;grid-row-gap:2rem;align-items:center;justify-items:center;overflow:auto;max-height:-webkit-fit-content;max-height:-moz-fit-content;max-height:fit-content;justify-content:space-evenly;margin-top:1rem;font-size:1.2rem}.QuestionNavigation_Content__3XJ7g span{cursor:default!important}}.Section_Section__LqS2d{overflow:auto;position:relative;height:calc(100vh - 133px);height:calc(var(--vh, 1vh)*100 - 133px)}.Section_SubmitBtn__1I6oZ{width:100%;height:75px;padding:0 2%;box-sizing:border-box;display:flex;flex-wrap:wrap;align-items:center;background:#f7f8fa;justify-content:center}.Section_SubmitTest__2_-Ca{padding:0 2rem 0 1.4rem;border-bottom:1px solid #ccc;min-height:45vh;min-height:calc(var(--vh, 1vh)*45)}.Section_Profile__2cp14{display:block}.Section_SubmitButton__3XQJ9{width:100%;text-align:center;background:#009ae0;border-radius:5px;color:#fff;padding:3.1%;font-size:1.5rem;cursor:pointer}.Section_unifiedStyle__1CP-R{padding:1rem 0;display:flex;justify-content:space-between;flex-direction:row;align-items:center}.Section_markedForReviewContainer__i8at5,.Section_questionsAnsweredContainer__3BzoC,.Section_timeRemainingContainer__hjLRP,.Section_totalQuestionContainer__wcKJk{display:flex;align-items:center;grid-gap:5%;gap:5%;width:60%}@media (max-width:1100px){.Section_Section__LqS2d{overflow:auto;height:calc(100vh - 183px);height:calc(var(--vh, 1vh)*100 - 183px)}.Section_Profile__2cp14{display:none}}@media (max-width:600px){.Section_Section__LqS2d{height:calc(100vh - 133px);height:calc(var(--vh, 1vh)*100 - 133px)}}.Carousel_Container__1mUPP{position:relative;height:6rem}.Carousel_Container__1mUPP ul{position:relative;padding:0;list-style:none;transition:-webkit-transform .5s ease-in-out;transition:transform .5s ease-in-out;transition:transform .5s ease-in-out,-webkit-transform .5s ease-in-out;margin:25px 55px}.Carousel_Container__1mUPP ul li{position:relative;display:flex;float:left;margin:0;padding:0;background:#fff;text-align:center;justify-content:center;align-items:center;height:10px}.Carousel_Container__1mUPP ul li p{margin:0;top:50%;left:50%;position:absolute;height:100%}.Carousel_Container__1mUPP button{position:absolute;top:0;height:100%;width:55px;background:#fff;color:#fff;cursor:pointer;border:none;outline:none;display:block;-webkit-tap-highlight-color:transparent}.Carousel_Container__1mUPP button.Carousel_Left__2q_Ec{left:0}.Carousel_Container__1mUPP button.Carousel_Right__THbq5{right:0}.Carousel_IconLeft__3h_QX:before,.Carousel_IconRight__1QcLA:before{font-family:icon-fonts;font-style:normal;font-weight:400;speak:none;display:inline-block;text-decoration:inherit;margin-right:.2em;text-align:center;-webkit-font-feature-settings:normal;font-feature-settings:normal;font-variant:normal;text-transform:none;line-height:1em;margin-left:.2em;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}.Carousel_IconRight__1QcLA:before{content:"\f105"}.Carousel_IconLeft__3h_QX:before{content:"\f104"}.SectionSwitch_HoverSection__1IYnN{position:absolute;top:3rem;width:30vw;z-index:100;display:none}.SectionSwitch_mouseOver__3WUT7{padding:0 5px;white-space:nowrap}.SectionSwitch_mouseOver__3WUT7:hover+.SectionSwitch_HoverSection__1IYnN{display:block}@media(max-width:1100px){.SectionSwitch_mouseOver__3WUT7:hover+.SectionSwitch_HoverSection__1IYnN{display:none}}.Subheader_Subheader__1LYpf{display:flex;width:100%;border-bottom:1px solid #d2d2d2;mix-blend-mode:normal;flex-direction:row;justify-content:flex-start;flex-shrink:0;flex-basis:6rem;z-index:1}.Subheader_Subheader__1LYpf p{padding-right:2rem;color:#000}.Footer_Footer__3Fh5s{left:0;bottom:0;width:100%;background-color:#fff;color:#000;flex-direction:row;justify-content:space-between;border-top:1px solid #d2d2d2;flex-basis:7rem;box-sizing:border-box;padding:10px;position:relative}.Footer_Footer__3Fh5s,.Footer_Footer__3Fh5s>button{display:flex;align-items:center}.Footer_Footer__3Fh5s>button:disabled,.Footer_Footer__3Fh5s>button:disabled:hover{cursor:not-allowed;color:#777;border-color:#777}.Footer_Footer__3Fh5s .Footer_MoveToQuestionBig__1-jSA{padding:1rem;border:1px solid #009ae0;border-radius:5px;-webkit-user-select:none;user-select:none;cursor:pointer;width:18rem;display:flex;justify-content:center}.Footer_Footer__3Fh5s .Footer_MoveToQuestionBig__1-jSA,.Footer_Footer__3Fh5s .Footer_MoveToQuestionBig__1-jSA :focus,.Footer_Footer__3Fh5s .Footer_MoveToQuestionBig__1-jSA:hover{color:#009ae0;background:#fff;font-size:14px;outline:none}.Footer_Footer__3Fh5s .Footer_MoveToQuestionSmall__pDk2u,.Footer_Footer__3Fh5s .Footer_Next__3YMKC{display:none;-webkit-user-select:none;user-select:none}.Footer_Footer__3Fh5s .Footer_Next__3YMKC{width:30rem;height:4rem;color:#fff;background:#009ae0;border-radius:5px;font-size:16px;border:1px solid #009ae0}.Footer_Footer__3Fh5s .Footer_Next__3YMKC:disabled{background:#bdbdbd}@media only screen and (min-width:310px) and (max-width:350px) and (-webkit-device-pixel-ratio:2) and (orientation:portrait){.Footer_Footer__3Fh5s{margin-bottom:16vh}}@media only screen and (min-width:350px) and (max-width:400px) and (-webkit-device-pixel-ratio:2) and (orientation:portrait){.Footer_Footer__3Fh5s{margin-bottom:1vh}}@media (max-width:1100px){.Footer_Footer__3Fh5s>button.Footer_MoveToQuestionSmall__pDk2u{padding:.5rem;border:none;border-radius:none;display:flex;align-items:center;cursor:pointer;color:#009ae0;background:#fff;font-size:14px;outline:none}.Footer_Footer__3Fh5s .Footer_Next__3YMKC{display:inline;-webkit-user-select:none;user-select:none}.Footer_Footer__3Fh5s svg{margin:0 8px}.Footer_Footer__3Fh5s>button.Footer_MoveToQuestionSmall__pDk2u:disabled,.Footer_Footer__3Fh5s>button.Footer_MoveToQuestionSmall__pDk2u:disabled:hover{cursor:not-allowed;color:#777;border-color:#777}.Footer_Footer__3Fh5s>button.Footer_MoveToQuestionSmall__pDk2u:focus,.Footer_Footer__3Fh5s>button.Footer_MoveToQuestionSmall__pDk2u:hover{color:#009ae0;background:#fff;font-size:14px;outline:none}.Footer_Footer__3Fh5s{width:100%}.Footer_Footer__3Fh5s .Footer_MoveToQuestionBig__1-jSA{display:none}}.RightDrawer_Container__13rg3{width:100%}.RightDrawer_RightDrawer__14364{background-color:#e8e8e8;position:fixed;width:340px;max-width:70%;height:100%;right:0;top:0;z-index:200;box-sizing:border-box;transition:-webkit-transform .3s ease-out;transition:transform .3s ease-out;transition:transform .3s ease-out,-webkit-transform .3s ease-out}.RightDrawer_DrawerHeader__cPfru{position:-webkit-sticky;position:sticky;background:#009ae0;display:flex;align-items:center;justify-content:flex-start;color:#fff;height:64px}.RightDrawer_Open__3G12d{-webkit-transform:translateX(0);transform:translateX(0)}.RightDrawer_Close__3MIra{-webkit-transform:translateX(100%);transform:translateX(100%)}.RightDrawer_Container__13rg3 button.RightDrawer_Left__2ajv-{left:0;top:0;padding:14px 16px;z-index:1;background:linear-gradient(90deg,hsla(0,0%,66.7%,.4666666666666667),hsla(0,0%,66.7%,0));background:linear-gradient(270deg,transparent 0,rgba(0,0,0,.25));background:#009ae0;color:#fff;display:none;border:none;outline:none}.RightDrawer_IconLeft__3D7on:before{content:"\f104";font-family:icon-fonts;font-style:normal;font-weight:400;speak:none;display:inline-block;text-decoration:inherit;margin-right:.2em;text-align:center;-webkit-font-feature-settings:normal;font-feature-settings:normal;font-variant:normal;text-transform:none;line-height:1em;margin-left:.2em;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}@media (max-height:1100px){.RightDrawer_RightDrawer__14364{margin-top:0}}@media (max-width:1100px){.RightDrawer_RightDrawer__14364{width:45%;max-width:100%}.RightDrawer_Container__13rg3 button.RightDrawer_Left__2ajv-{display:block}}@media (max-width:700px){.RightDrawer_RightDrawer__14364{width:60%;max-width:100%}}@media (max-width:600px){.RightDrawer_RightDrawer__14364{width:70%;max-width:100%}}@media (max-width:500px){.RightDrawer_RightDrawer__14364{width:100%;max-width:100%}}.Layout_ShowHeaderMobile__19zX0{display:none}.Layout_ShowHeader__1AcZz{display:inline;width:100%}@media(max-width:1100px){.Layout_ShowHeaderMobile__19zX0{display:inline;width:100%}.Layout_ShowHeader__1AcZz{display:none}}.App{overflow-x:hidden}*{-webkit-overflow-scrolling:touch}body{position:fixed;width:100%;z-index:100;transform:translateZ(0);-moz-transform:translatez(0);-ms-transform:translatez(0);-o-transform:translatez(0);-webkit-transform:translateZ(0);-webkit-font-smoothing:antialiased;height:100vh;height:calc(var(--vh, 1vh)*100)}html{font-size:62.5%}.Layout{width:100%;display:flex;flex-wrap:wrap;position:relative;-webkit-user-select:none;user-select:none;overflow:hidden}.Sidebar>.Sidebar{width:100%;height:100vh;height:calc(var(--vh, 1vh)*100);background:#f7f8fa}.leftBarToggle{position:absolute;top:50%;right:0;z-index:10;padding:1%;background:#f7f8fa;cursor:pointer}.Layout>.Container{display:flex;flex-flow:column;position:relative;align-items:flex-start;justify-content:flex-start;background:#fff;height:calc(100vh - 64px);height:calc(var(--vh, 1vh)*100 - 64px);width:75%;transition:width .2s ease-out}.Layout>.Container.toggleContainer{width:100%;transition:width .2s ease-in;-moz-transition:width .2s ease-in}.Layout>.Sidebar{width:25%;z-index:1;transition:width .2s ease-out}.Layout>.Sidebar.toggleSidebar{width:0;transition:width .2s ease-in;-moz-transition:width .2s ease-in}.rotateLeft{-webkit-transform:rotate(180deg);transform:rotate(180deg)}@media (max-width:1100px){.Layout>.Sidebar,.leftBarToggle{display:none}.Layout>.Container{width:100%;height:calc(100vh - 94px);height:calc(var(--vh, 1vh)*100 - 94px)}.math{max-width:100%;overflow:auto}}input[type=checkbox]{height:14px;outline:none;cursor:pointer;-webkit-appearance:none;background-color:#fafafa;border:1px solid #cacece;box-shadow:0 1px 2px rgba(0,0,0,.05),inset 0 -15px 10px -12px rgba(0,0,0,.05);padding:6px;border-radius:3px;display:inline-block;position:relative}input[type=checkbox]:active,input[type=checkbox]:checked:active{box-shadow:0 1px 2px rgba(0,0,0,.05),inset 0 1px 3px rgba(0,0,0,.1)}input[type=checkbox]:checked{background-color:#009ae0;border:1px solid #009ae0;box-shadow:0 1px 2px rgba(0,0,0,.05),inset 0 -15px 10px -12px rgba(0,0,0,.05),inset 15px 10px -12px hsla(0,0%,100%,.1);color:#99a1a7}input[type=checkbox]:checked:after{content:"\2714";font-size:8px;position:absolute;top:0;left:3px;color:#fff}input[type=checkbox][disabled]{background-color:#fff;border-color:#e7e7e7}input[type=checkbox][disabled]:checked:after{color:#9d9d9d}@font-face{font-family:K010;src:url(/public/static/media/k010.377392a4.TTF) format("truetype");font-weight:400;font-style:normal}@font-face{font-family:kruti dev\ 010;src:url(/public/static/media/k010.377392a4.TTF) format("truetype");font-weight:400;font-style:normal}.imageViewerDiv{word-break:break-word}.imageViewerDiv img{vertical-align:middle!important;max-width:100%;height:auto}pcol,pdoc,prow{display:none}@media (max-width:630px){.imageViewerDiv table{font-size:10.5px!important}}.MathJax{vertical-align:middle!important}@media print{body,html{display:none}}@media only screen and (min-width:1024px) and (max-height:1366px) and (-webkit-min-device-pixel-ratio:1.5){body{height:95vh!important}.Layout>.Container{height:90vh!important}.SidebarForIphoneSelector>div:first-child{height:85vh!important}}@media only screen and (min-width:1024px) and (max-height:1366px) and (orientation:portrait) and (-webkit-min-device-pixel-ratio:1.5){body{height:95vh!important}.Layout>.Container{height:90vh!important}.SidebarForIphoneSelector>div:first-child{height:85vh!important}}@media only screen and (min-width:1024px) and (max-height:1366px) and (orientation:landscape) and (-webkit-min-device-pixel-ratio:1.5){body{height:95vh!important}.Layout>.Container{height:90vh!important}.SidebarForIphoneSelector>div:first-child{height:85vh!important}}.contentClass{color:#009ae0;cursor:pointer;text-align:center}.contentClass:hover{border-bottom:2px solid #009ae0}.contentClass:before{content:"Watch Video"}.iframeVideo{width:500px;height:400px}@media (max-width:600px){.Layout>.Container{width:100%;height:calc(100vh - 64px);height:calc(var(--vh, 1vh)*100 - 64px)}}.Container{height:calc(100vh - 64px);height:calc(var(--vh, 1vh)*100 - 64px);overflow-y:auto;overflow-x:hidden}.VideoPlayer_iframe__2iA5X{height:500px;width:95%;display:block;margin:0 auto}.VideoPlayer_modal__9ejAV{min-height:550px;width:auto;width:600px;padding:2rem}@media (max-width:1100px){.VideoPlayer_iframe__2iA5X{height:50vh}.VideoPlayer_modal__9ejAV{min-height:auto;width:auto}}

.Question_Header__Q3Hs6{padding:0 1% 0 3%;border-bottom:1px solid #d2d2d2;width:100%;display:flex;flex-direction:row;justify-content:space-between;box-sizing:border-box;flex-shrink:0}.Question_Body__32R5l{margin:3.6rem;padding:1rem;flex-basis:1rem;flex-shrink:1;flex-grow:1;overflow-y:auto;overflow-x:hidden;border:1px solid #d9d9d9;box-sizing:border-box;border-radius:5px;min-height:calc(100vh - 327px);width:calc(100% - 7.2rem)}@supports (-webkit-overflow-scrolling:touch){.Question_Body__32R5l{min-height:unset}}.Question_Body__32R5l .Question_Body__32R5l{overflow:hidden}.Question_LeftLaptopView__3GepN{display:flex;justify-content:space-between;align-items:center;margin:2.3rem 0}.Question_LeftMobileView__2cw-c{display:none}.Question_Right__9azQ5{display:flex;justify-content:flex-start;flex-direction:row;height:4.5rem;align-items:center;margin:1rem 0}.Question_Right__9azQ5 .Question_SchemeHeading__iU-7n{font-size:14px;color:#000;opacity:.6;line-height:21px;cursor:pointer}.Question_Right__9azQ5 .Question_PartialMarking__2XzoA{margin:1rem;cursor:pointer;-webkit-user-select:none;user-select:none;background:#f7f7f7;border-radius:2px;padding:.4rem;opacity:.6}.Question_Right__9azQ5 .Question_PartialMarking__2XzoA img{padding-right:.8rem}.Question_Marks__n95zL{margin:0 1rem 0 0;display:flex;flex-direction:row;cursor:pointer}.Question_Marks__n95zL .Question_PositiveMarks__1EDGA{background:#e4ffe8;border-radius:2px;margin:1rem .5rem;padding:.5rem;color:#52b062}.Question_Marks__n95zL .Question_NegativeMarks__1u-CM{background:#ffeaed;border-radius:2px;margin:1rem .5rem;padding:.5rem;color:#ff4058}.Question_Right__9azQ5 .Question_Clock__13ic9{padding:0 1rem;display:flex;flex-direction:row;align-items:center}.Question_Right__9azQ5 .Question_Clock__13ic9 img{padding:0 .5rem}.Question_Right__9azQ5 .Question_MarkReview__EOuQ2{padding:.7rem;border:1px solid #009ae0;border-radius:4px;margin:.4rem 2rem;cursor:pointer;color:#009ae0;width:15rem;text-align:center;-webkit-user-select:none;user-select:none}.Question_Right__9azQ5 .Question_MarkReview__EOuQ2 img{padding-right:.5rem}.Question_Right__9azQ5 .Question_MarkedReview__22Vlq{padding:.7rem;border:1px solid #fff;border-radius:5px;margin:.4rem 2rem;cursor:pointer;background-color:#009ae0;color:#fff;-webkit-user-select:none;user-select:none}.Question_Right__9azQ5 .Question_ThreeDot__3veH4{cursor:pointer;padding:0 0 0 .5rem;-webkit-user-select:none;user-select:none}.Question_MarksOnHover__7xPls{left:0}.Question_MarksOnHover__7xPls,.Question_MarksOnHoverSolution__8RaJO{position:absolute;top:100%;padding:1rem;background:#fff;box-shadow:0 1px 4px rgba(0,0,0,.24);border-radius:4px;width:35rem}.Question_MarksOnHoverSolution__8RaJO{right:0}.Question_ShowMarkingScheme__3p6VJ{display:inline}.Question_ShowMarkingSchemeMobile__2isTq{display:none}[tooltip]{position:relative}[tooltip]:after,[tooltip]:before{text-transform:none;font-size:.6em;line-height:1;-webkit-user-select:none;user-select:none;font-size:13px;pointer-events:none;position:absolute;display:none;opacity:0}[tooltip]:before{content:"";border:5px solid transparent;z-index:1001}[tooltip]:after{content:attr(tooltip);font-family:Helvetica,sans-serif;text-align:center;min-width:3em;max-width:21em;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;padding:1ch 1.5ch;border-radius:.6ch;box-shadow:0 1em 2em -.5em #000;background:#000;color:#fff;z-index:1000}[tooltip]:hover:after,[tooltip]:hover:before{display:block}[tooltip=""]:after,[tooltip=""]:before{display:none!important}[tooltip][flow^=down]:before{top:100%;border-top-width:0;border-bottom-color:#000}[tooltip][flow^=down]:after{top:calc(100% + 5px)}[tooltip][flow^=down]:after,[tooltip][flow^=down]:before{left:50%;-webkit-transform:translate(-50%,.5em);transform:translate(-50%,.5em)}@-webkit-keyframes Question_tooltips-vert__3Cw7S{to{opacity:.9;-webkit-transform:translate(-50%);transform:translate(-50%)}}@keyframes Question_tooltips-vert__3Cw7S{to{opacity:.9;-webkit-transform:translate(-50%);transform:translate(-50%)}}@-webkit-keyframes Question_tooltips-horz__3ghV2{to{opacity:.9;-webkit-transform:translateY(-50%);transform:translateY(-50%)}}@keyframes Question_tooltips-horz__3ghV2{to{opacity:.9;-webkit-transform:translateY(-50%);transform:translateY(-50%)}}.Question_searchBarControls__3u_El{float:right}[tooltip]:not([flow]):hover:after,[tooltip]:not([flow]):hover:before,[tooltip][flow^=down]:hover:after,[tooltip][flow^=down]:hover:before,[tooltip][flow^=up]:hover:after,[tooltip][flow^=up]:hover:before{-webkit-animation:Question_tooltips-vert__3Cw7S .3s ease-out forwards;animation:Question_tooltips-vert__3Cw7S .3s ease-out forwards}[tooltip][flow^=left]:hover:after,[tooltip][flow^=left]:hover:before,[tooltip][flow^=right]:hover:after,[tooltip][flow^=right]:hover:before{-webkit-animation:Question_tooltips-horz__3ghV2 .3s ease-out forwards;animation:Question_tooltips-horz__3ghV2 .3s ease-out forwards}.Question_ReportModal__3le5I{display:block;width:calc(100% - 7rem);height:34px;padding:6px 10px;margin:0 2.4rem;font-size:14px;line-height:1.42857143;color:#555;background-color:#fff;background-image:none;border:1px solid #ccc;border-radius:4px}.Question_ReportList__3KIze{padding:1rem 2.4rem;display:flex;flex-direction:row;align-items:center}.Question_DropDownListItem__uqp_M{display:flex;flex-direction:row;justify-content:center;align-items:center}@media (max-width:1100px){.Question_Body__32R5l{margin:1rem;width:calc(100% - 2rem);height:37rem}.Question_graceMarkedHead__2lbg_{padding:.3rem}.Question_Body__32R5l .Question_Body__32R5l{height:auto;overflow:hidden}.Question_LeftLaptopView__3GepN{display:none}.Question_LeftMobileView__2cw-c{display:flex;justify-content:space-between;align-items:center;margin:2.2rem 0}.Question_Right__9azQ5{margin:1rem 0 0 .5rem}.Question_Right__9azQ5 .Question_SchemeHeading__iU-7n{display:none}.Question_Right__9azQ5 .Question_PartialMarking__2XzoA{margin:1rem .5rem 1rem 0;background:none}.Question_Right__9azQ5 .Question_PartialMarking__2XzoA span{display:none}.Question_Right__9azQ5 .Question_PartialMarking__2XzoA img{padding-right:0;margin:0}.Question_Marks__n95zL{margin:0 .2rem;display:flex;flex-direction:row}.Question_Marks__n95zL .Question_NegativeMarks__1u-CM,.Question_Marks__n95zL .Question_PositiveMarks__1EDGA{margin:1rem .6rem;padding:.5rem}.Question_Right__9azQ5 .Question_Clock__13ic9{padding:0 .6rem}.Question_Right__9azQ5 .Question_Clock__13ic9 img{padding:0 .1rem}.Question_Right__9azQ5 .Question_MarkReview__EOuQ2{margin:0 .6rem;cursor:pointer;width:auto;padding:.5rem}.Question_Right__9azQ5 .Question_MarkReview__EOuQ2 span{display:none}.Question_Right__9azQ5 .Question_MarkReview__EOuQ2 img{padding-right:0}.Question_ShowMarkingScheme__3p6VJ{display:none}.Question_ShowMarkingSchemeMobile__2isTq{display:inline}[tooltip][flow^=down]:before{top:100%;border-top-width:0;border-bottom-color:#000;display:none}[tooltip][flow^=down]:after{top:calc(100% + 5px);display:none}[tooltip][flow^=down]:after,[tooltip][flow^=down]:before{left:50%;-webkit-transform:translate(-50%,.5em);transform:translate(-50%,.5em);display:none}}.Question_QuestionContainer__2Elg3{text-align:left;width:100%;margin-bottom:1.5rem}.Question_QuestionContainer__2Elg3>p{max-width:calc(100% - 2rem);text-align:left;margin:5px 5px 5px 4px;flex-flow:row wrap;padding-bottom:20px;word-break:break-word;-webkit-hyphens:auto;hyphens:auto}.Question_QuestionContainer__2Elg3 img{max-width:100%;margin:10px 0;height:auto}.Question_QuestionContainer__2Elg3 table{max-width:100%!important}.Question_notAttemptedLabel__2aPIB{color:#000;padding:.5rem;border-radius:2px;margin-right:1rem;background:#f7f7f7}.Question_isPartiallyCorrectLabel__1uwPe{color:#ff8f0d;padding:.5rem;border-radius:2px;margin-right:1rem;background:#ffebd5}.Question_correctLabel__i637P{color:#52b062;padding:.5rem;border-radius:2px;margin-right:1rem;background:#e4ffe8}.Question_incorrectLabel__122SP{color:#ff4058;padding:.5rem;border-radius:2px;margin-right:1rem;background:#ffeaed}.Question_questionSolutionHeader__2VyJN{display:flex;justify-content:space-between;align-items:center;margin-left:4px;margin-top:2rem}.Question_questionSolutionContainer__3I0sz{margin-top:2%;box-sizing:border-box;width:100%;overflow:auto}.Question_questionSolutionContainer__3I0sz img{width:100%;margin:10px 0;height:auto}.Question_multiCorrectWarningMsg__3MkvK{font-size:10px;color:#000;opacity:.6}.Question_questionSolution__21sgD{margin:2%}@media (max-width:600px){.Question_questionSolutionHeader__2VyJN{font-size:1.3rem}}@media (max-width:450px){.Question_Header__Q3Hs6{font-size:1.2rem}}.Question_graceMarkedHead__2lbg_{background:rgba(82,176,96,.08);border:1px solid #52b060;padding:.6rem;margin-right:1rem;font-size:1.2rem;box-sizing:border-box;border-radius:2px;font-weight:600;color:#52b060}.Options_Container__2YfYv{display:flex;flex-flow:column}.Options_Option__XtVF5{display:flex;flex-flow:row;align-items:center;justify-content:flex-start;padding-left:1rem;margin-bottom:1rem}.Options_Option__XtVF5 label{padding:1rem;display:block;align-items:center;width:100%}.Options_Option__XtVF5 label div,.Options_Option__XtVF5 label p{width:95%;overflow-wrap:break-word;box-sizing:border-box}.Options_Option__XtVF5 p{padding-left:1rem}.Options_checked__32rYo,.Options_Option__XtVF5:hover{background:#e9f2fb;border:1px solid #009ae0;box-sizing:border-box;border-radius:5px}.Options_OptionSolution__mjez2{display:flex;flex-flow:row;align-items:center;justify-content:flex-start;padding-left:1rem;margin-bottom:1rem}.Options_OptionSolution__mjez2 p{padding-left:1rem}.Options_correct__Rp1QC{background:#52b062;border:1px solid #52b062;color:#fff;display:flex;justify-content:space-between;border-radius:5px}.Options_incorrect__25WpO{background:#ff4058;color:#fff;border:1px solid #ff4058;border-radius:5px}.Options_correctOption__3CDkO{background:#e4ffe8;border-radius:5px;border:1px solid #52b062}.Options_correctOption__3CDkO .Options_ContainerContent__1JQzB{max-width:95%}.Options_OptionContainer__1WGbi p{margin:0}.Options_OptionContainer__1WGbi{display:flex;align-items:center;justify-content:space-between}.Options_OptionContainer__1WGbi img{max-width:calc(75vw - 10rem);margin:0;height:auto}.Options_ContainerContent__1JQzB{display:block;justify-content:space-between;align-items:center;min-width:50%;max-width:90%}input.Options_radio__3PSlu[type=checkbox]{display:none}input.Options_radio__3PSlu[type=checkbox]+:before{content:"";display:inline-block;margin:0 .5rem;width:1.2rem;height:1.2rem;border-radius:1.2rem;box-shadow:0 0 0 .5px #fff;background-color:#fff;border:1px solid #888}input.Options_radio__3PSlu[type=checkbox]:checked+:before{box-shadow:0 0 0 .5px #fff,inset 0 0 0 .14em #fff;border:1px solid #009ae0;background-color:#009ae0}@media (max-width:1000px){.Options_OptionContainer__1WGbi img{max-width:calc(100vw - 2rem);margin:0;height:auto}}@media (max-width:500px){.Options_OptionContainer__1WGbi{align-items:center}.Options_Option__XtVF5 label div,.Options_Option__XtVF5 label p{width:90%;overflow-wrap:break-word;box-sizing:border-box}.Options_Option__XtVF5 label table{max-width:90%!important}.Options_ContainerContent__1JQzB{max-width:90%}.Options_OptionContainer__1WGbi img{max-width:100%}.Options_OptionContainer__1WGbi table{max-width:100%!important}.Options_OptionColumner__YuHcV{flex-direction:column;align-items:flex-start}.Options_OptionColumner__YuHcV p{padding:0}.Options_Option__XtVF5:hover{background:none;border:none}.Options_Option__XtVF5.Options_checked__32rYo,.Options_Option__XtVF5.Options_checked__32rYo:hover{background:#e9f2fb;border:1px solid #009ae0;box-sizing:border-box;border-radius:5px}.Options_OptionContainer__1WGbi .math{max-width:calc(100vw - 10rem);overflow:scroll}.Options_OptionSolution__mjez2 .Options_OptionContainer__1WGbi .math{max-width:calc(100vw - 3rem);overflow:hidden}}.Options_spanFlex__8oeRd{display:flex;align-items:center;vertical-align:center;margin:0;padding:0}.Options_spanFlex__8oeRd span{margin-bottom:3px}.Dropdown_Dropdown__10Bmj>.Dropdown_Btn__1bsgd{padding:5px;display:flex;flex-flow:row;justify-content:center;align-items:center}.Dropdown_Dropdown__10Bmj>.Dropdown_Btn__1bsgd>p{font-weight:700;padding:2px;float:right;margin-left:5px;-webkit-transform:rotate(0deg);transform:rotate(0deg);transition:all .3s ease-in-out}.Dropdown_Dropdown__10Bmj>.Dropdown_Btn__1bsgd>p.Dropdown_Open__1CkF3{-webkit-transform:rotate(180deg);transform:rotate(180deg)}.Dropdown_Dropdown__10Bmj{padding:4px;position:relative;-webkit-user-select:none;user-select:none;z-index:2}.Dropdown_Dropdown__10Bmj,.Dropdown_Dropdown__10Bmj ul{display:flex;flex-flow:column;justify-content:center;align-items:center}.Dropdown_Dropdown__10Bmj ul{padding:12px;margin:0;width:100%;list-style:none;height:inherit}.Dropdown_Dropdown__10Bmj li{height:inherit}@-webkit-keyframes Dropdown_slideup__UIhnw{0%{-webkit-transform:translateY(5%);transform:translateY(5%)}to{-webkit-transform:translateY(0);transform:translateY(0)}}@keyframes Dropdown_slideup__UIhnw{0%{-webkit-transform:translateY(5%);transform:translateY(5%)}to{-webkit-transform:translateY(0);transform:translateY(0)}}.Dropdown_Dropdown__10Bmj .Dropdown_Items__3pxXB{position:absolute;left:0;width:100%;min-width:-webkit-max-content;min-width:max-content;top:100%;-webkit-animation:Dropdown_slideup__UIhnw .3s,Dropdown_hs-fadeIn__peu8m .3s;animation:Dropdown_slideup__UIhnw .3s,Dropdown_hs-fadeIn__peu8m .3s;opacity:1;z-index:1;max-height:250px;overflow-y:auto;overflow-x:hidden;width:-webkit-fit-content;width:-moz-fit-content;width:fit-content;background:#fff;box-shadow:0 4px 8px rgba(0,0,0,.24);border-radius:2px}.Dropdown_Items__3pxXB.Dropdown_Hide__OWJmp{opacity:0;transition:max-height .3s ease;display:none}.Dropdown_Dropdown__10Bmj .Dropdown_Btn__1bsgd{display:flex;align-items:center;width:100%;padding:10px;margin:0;font-family:Lato,sans-serif;background-color:initial;font-size:16px;border:none;outline:none;cursor:pointer}.Dropdown_Dropdown__10Bmj .Dropdown_Btn__1bsgd>p{font-size:24px;color:#000;margin-bottom:5px;margin-top:0}.Dropdown_Dropdown__10Bmj ul{background:#fff;max-width:-webkit-fit-content;max-width:-moz-fit-content;max-width:fit-content;box-shadow:1px 1px 1px #b7b7b7}.Dropdown_Dropdown__10Bmj ul li{margin-top:-1px;width:100%;width:-webkit-max-content;width:max-content;min-width:-webkit-fit-content;min-width:-moz-fit-content;min-width:fit-content;box-sizing:border-box}.Dropdown_Dropdown__10Bmj ul:hover{background:rgba(0,154,224,.08);cursor:pointer}.Dropdown_Dropdown__10Bmj li>a{padding-top:6px;padding-bottom:6px;text-decoration:none;color:#000}.Accordian_mainContent2__1DkMX{display:block;height:5vh;overflow-wrap:break-word}.Accordian_mainContent2__1DkMX .Accordian_open2__1alIh{height:auto;overflow-wrap:break-word;overflow:scroll}.Accordian_paraDesc__51OhV{display:block;font-size:var(--font--size--small);width:100vw;text-align:left;word-break:break-all;box-sizing:border-box;max-width:100%;height:5.5em;overflow:hidden;padding:10px;display:inline-block;text-align:justify;text-justify:inter-word}.Accordian_paraDesc__51OhV p{margin:0;padding:0}.Accordian_paraComplete__mZxLR{display:block;font-size:var(--font--size--small);overflow-wrap:break-word;width:100vw;max-width:100%;box-sizing:border-box;text-align:left;overflow-x:hidden;text-align:justify;text-justify:inter-word;height:auto;padding:2%}.Accordian_hidePara__2P_UX{display:none}.Accordian_btnInAcc__1Mu7p,.Accordian_mainContent2Button__35v8R{font-size:var(--font--size--small)}.Accordian_btnInAcc__1Mu7p{line-height:19px;display:flex;margin-left:1%;margin-bottom:2%;margin-top:2%;align-items:center;text-transform:uppercase;color:#009ae0;background:none!important;border:none!important;outline:none;cursor:pointer}.Accordian_borderBottom__2nHVE{border-bottom:1px solid #e2e2e2}

svg:not(:root).svg-inline--fa {
  overflow: visible;
}

.svg-inline--fa {
  display: inline-block;
  font-size: inherit;
  height: 1em;
  overflow: visible;
  vertical-align: -0.125em;
}
.svg-inline--fa.fa-lg {
  vertical-align: -0.225em;
}
.svg-inline--fa.fa-w-1 {
  width: 0.0625em;
}
.svg-inline--fa.fa-w-2 {
  width: 0.125em;
}
.svg-inline--fa.fa-w-3 {
  width: 0.1875em;
}
.svg-inline--fa.fa-w-4 {
  width: 0.25em;
}
.svg-inline--fa.fa-w-5 {
  width: 0.3125em;
}
.svg-inline--fa.fa-w-6 {
  width: 0.375em;
}
.svg-inline--fa.fa-w-7 {
  width: 0.4375em;
}
.svg-inline--fa.fa-w-8 {
  width: 0.5em;
}
.svg-inline--fa.fa-w-9 {
  width: 0.5625em;
}
.svg-inline--fa.fa-w-10 {
  width: 0.625em;
}
.svg-inline--fa.fa-w-11 {
  width: 0.6875em;
}
.svg-inline--fa.fa-w-12 {
  width: 0.75em;
}
.svg-inline--fa.fa-w-13 {
  width: 0.8125em;
}
.svg-inline--fa.fa-w-14 {
  width: 0.875em;
}
.svg-inline--fa.fa-w-15 {
  width: 0.9375em;
}
.svg-inline--fa.fa-w-16 {
  width: 1em;
}
.svg-inline--fa.fa-w-17 {
  width: 1.0625em;
}
.svg-inline--fa.fa-w-18 {
  width: 1.125em;
}
.svg-inline--fa.fa-w-19 {
  width: 1.1875em;
}
.svg-inline--fa.fa-w-20 {
  width: 1.25em;
}
.svg-inline--fa.fa-pull-left {
  margin-right: 0.3em;
  width: auto;
}
.svg-inline--fa.fa-pull-right {
  margin-left: 0.3em;
  width: auto;
}
.svg-inline--fa.fa-border {
  height: 1.5em;
}
.svg-inline--fa.fa-li {
  width: 2em;
}
.svg-inline--fa.fa-fw {
  width: 1.25em;
}

.fa-layers svg.svg-inline--fa {
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
}

.fa-layers {
  display: inline-block;
  height: 1em;
  position: relative;
  text-align: center;
  vertical-align: -0.125em;
  width: 1em;
}
.fa-layers svg.svg-inline--fa {
  -webkit-transform-origin: center center;
          transform-origin: center center;
}

.fa-layers-counter, .fa-layers-text {
  display: inline-block;
  position: absolute;
  text-align: center;
}

.fa-layers-text {
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transform-origin: center center;
          transform-origin: center center;
}

.fa-layers-counter {
  background-color: #ff253a;
  border-radius: 1em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
  height: 1.5em;
  line-height: 1;
  max-width: 5em;
  min-width: 1.5em;
  overflow: hidden;
  padding: 0.25em;
  right: 0;
  text-overflow: ellipsis;
  top: 0;
  -webkit-transform: scale(0.25);
          transform: scale(0.25);
  -webkit-transform-origin: top right;
          transform-origin: top right;
}

.fa-layers-bottom-right {
  bottom: 0;
  right: 0;
  top: auto;
  -webkit-transform: scale(0.25);
          transform: scale(0.25);
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
}

.fa-layers-bottom-left {
  bottom: 0;
  left: 0;
  right: auto;
  top: auto;
  -webkit-transform: scale(0.25);
          transform: scale(0.25);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

.fa-layers-top-right {
  right: 0;
  top: 0;
  -webkit-transform: scale(0.25);
          transform: scale(0.25);
  -webkit-transform-origin: top right;
          transform-origin: top right;
}

.fa-layers-top-left {
  left: 0;
  right: auto;
  top: 0;
  -webkit-transform: scale(0.25);
          transform: scale(0.25);
  -webkit-transform-origin: top left;
          transform-origin: top left;
}

.fa-lg {
  font-size: 1.3333333333em;
  line-height: 0.75em;
  vertical-align: -0.0667em;
}

.fa-xs {
  font-size: 0.75em;
}

.fa-sm {
  font-size: 0.875em;
}

.fa-1x {
  font-size: 1em;
}

.fa-2x {
  font-size: 2em;
}

.fa-3x {
  font-size: 3em;
}

.fa-4x {
  font-size: 4em;
}

.fa-5x {
  font-size: 5em;
}

.fa-6x {
  font-size: 6em;
}

.fa-7x {
  font-size: 7em;
}

.fa-8x {
  font-size: 8em;
}

.fa-9x {
  font-size: 9em;
}

.fa-10x {
  font-size: 10em;
}

.fa-fw {
  text-align: center;
  width: 1.25em;
}

.fa-ul {
  list-style-type: none;
  margin-left: 2.5em;
  padding-left: 0;
}
.fa-ul > li {
  position: relative;
}

.fa-li {
  left: -2em;
  position: absolute;
  text-align: center;
  width: 2em;
  line-height: inherit;
}

.fa-border {
  border: solid 0.08em #eee;
  border-radius: 0.1em;
  padding: 0.2em 0.25em 0.15em;
}

.fa-pull-left {
  float: left;
}

.fa-pull-right {
  float: right;
}

.fa.fa-pull-left,
.fas.fa-pull-left,
.far.fa-pull-left,
.fal.fa-pull-left,
.fab.fa-pull-left {
  margin-right: 0.3em;
}
.fa.fa-pull-right,
.fas.fa-pull-right,
.far.fa-pull-right,
.fal.fa-pull-right,
.fab.fa-pull-right {
  margin-left: 0.3em;
}

.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
          animation: fa-spin 2s infinite linear;
}

.fa-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
          animation: fa-spin 1s infinite steps(8);
}

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.fa-rotate-90 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.fa-rotate-180 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.fa-rotate-270 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

.fa-flip-horizontal {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.fa-flip-vertical {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
  -webkit-transform: scale(1, -1);
          transform: scale(1, -1);
}

.fa-flip-both, .fa-flip-horizontal.fa-flip-vertical {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
  -webkit-transform: scale(-1, -1);
          transform: scale(-1, -1);
}

:root .fa-rotate-90,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-flip-horizontal,
:root .fa-flip-vertical,
:root .fa-flip-both {
  -webkit-filter: none;
          filter: none;
}

.fa-stack {
  display: inline-block;
  height: 2em;
  position: relative;
  width: 2.5em;
}

.fa-stack-1x,
.fa-stack-2x {
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
}

.svg-inline--fa.fa-stack-1x {
  height: 1em;
  width: 1.25em;
}
.svg-inline--fa.fa-stack-2x {
  height: 2em;
  width: 2.5em;
}

.fa-inverse {
  color: #fff;
}

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.sr-only-focusable:active, .sr-only-focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.svg-inline--fa .fa-primary {
  fill: var(--fa-primary-color, currentColor);
  opacity: 1;
  opacity: var(--fa-primary-opacity, 1);
}

.svg-inline--fa .fa-secondary {
  fill: var(--fa-secondary-color, currentColor);
  opacity: 0.4;
  opacity: var(--fa-secondary-opacity, 0.4);
}

.svg-inline--fa.fa-swap-opacity .fa-primary {
  opacity: 0.4;
  opacity: var(--fa-secondary-opacity, 0.4);
}

.svg-inline--fa.fa-swap-opacity .fa-secondary {
  opacity: 1;
  opacity: var(--fa-primary-opacity, 1);
}

.svg-inline--fa mask .fa-primary,
.svg-inline--fa mask .fa-secondary {
  fill: black;
}

.fad.fa-inverse {
  color: #fff;
}